body 		{margin:0}
form 		{margin:0; padding:0}

.M0			{margin:0 !important}
.M5			{margin:5px !important}
.M10			{margin:10px !important}
.M15			{margin:15px !important}
.MT0			{margin-top:0 !important}
.MT5			{margin-top:5px !important}
.MT10		{margin-top:10px !important}
.MT15		{margin-top:15px !important}
.MR0			{margin-right:0 !important}
.MR5			{margin-right:5px !important}
.MR10		{margin-right:10px !important}
.MR15		{margin-right:15px !important}
.MB0			{margin-bottom:0 !important}
.MB5			{margin-bottom:5px !important}
.MB10		{margin-bottom:10px !important}
.MB15		{margin-bottom:15px !important}
.ML0			{margin-left:0 !important}
.ML5			{margin-left:5px !important}
.ML10		{margin-left:10px !important}
.ML15		{margin-left:15px !important}
.center		{margin-left:auto !important; margin-right:auto !important }

.P0			{padding:0 !important}
.P5			{padding:5px !important}
.P10			{padding:10px !important}
.P15			{padding:15px !important}
.PT0			{padding-top:0 !important}
.PT5			{padding-top:5px !important}
.PT10		{padding-top:10px !important}
.PT15		{padding-top:15px !important}
.PR0			{padding-right:0 !important}
.PR5			{padding-right:5px !important}
.PR10		{padding-right:10px !important}
.PR15		{padding-right:15px !important}
.PB0			{padding-bottom:0 !important}
.PB5			{padding-bottom:5px !important}
.PB10		{padding-bottom:10px !important}
.PB15		{padding-bottom:15px !important}
.PL0			{padding-left:0 !important}
.PL5			{padding-left:5px !important}
.PL10		{padding-left:10px !important}
.PL15		{padding-left:15px !important}

.red			{color:red !important}
.white		{color:white !important}
.black		{color:black !important}
.gray		{color:gray !important}
.yellow		{color:yellow !important}
.green		{color:green !important}
.blue			{color:blue !important}

.F12			{font-size:12px !important}
.F14			{font-size:14px !important}
.F18			{font-size:18px !important}
.L14			{line-height:14px !important}
.L18			{line-height:18px !important}
.L24			{line-height:24px !important}
.bold			{font-weight:bold !important}

.UL			{text-decoration:underline !important}
.ULNO		{text-decoration:none !important}
.hand		{cursor:pointer}

.BRNO		{border:none !important}

.BCwhite	{background:white;}

.none		{display:none !important}
.inline		{display:inline !important}
.block		{display:block !important}
.left			{float:left !important}
.right		{float:right !important}
.clear		{clear:both !important}
.hidden		{overflow:hidden !important}
.auto		{overflow:auto !important;_zoom:1 !important}


.blockA a {display:block;}